[submodule ".vim/bundle/pathogen"]
	path = .vim/bundle/pathogen
	url = https://github.com/tpope/vim-pathogen.git
[submodule ".vim/bundle/xoria256"]
	path = .vim/bundle/xoria256
	url = https://github.com/vim-scripts/xoria256.vim.git
[submodule ".vim/bundle/slim"]
	path = .vim/bundle/slim
	url = https://github.com/bbommarito/vim-slim.git
[submodule ".vim/bundle/vala"]
	path = .vim/bundle/vala
	url = https://github.com/tkztmk/vim-vala.git
[submodule ".vim/bundle/cpp"]
	path = .vim/bundle/cpp
	url = https://github.com/vim-jp/cpp-vim.git
[submodule ".vim/bundle/less"]
	path = .vim/bundle/less
	url = https://github.com/groenewege/vim-less.git
[submodule ".vim/bundle/vaxe"]
	path = .vim/bundle/vaxe
	url = https://github.com/jdonaldson/vaxe.git
[submodule ".vim/bundle/powerline"]
	path = .vim/bundle/powerline
	url = https://github.com/jdonaldson/vim-powerline.git
[submodule ".vim/bundle/tagbar"]
	path = .vim/bundle/tagbar
	url = https://github.com/majutsushi/tagbar.git
[submodule ".vim/bundle/neocomplcache"]
	path = .vim/bundle/neocomplcache
	url = https://github.com/Shougo/neocomplcache.git
[submodule ".zsh/antigen"]
	path = .zsh/antigen
	url = https://github.com/zsh-users/antigen.git
[submodule "repo/external/git"]
	path = repo/external/git
	url = https://github.com/git/git.git
[submodule ".vim/bundle/markdown"]
	path = .vim/bundle/markdown
	url = https://github.com/tpope/vim-markdown.git
[submodule ".vim/bundle/dbg"]
	path = .vim/bundle/dbg
	url = https://github.com/yuratomo/dbg.vim.git
[submodule ".vim/bundle/vimproc"]
	path = .vim/bundle/vimproc
	url = https://github.com/Shougo/vimproc.git
